// Sass file that assigns the text color #3D3D3D to the HTML tags body and p
// background color #6D6D6D to the HTML tags body and h2
$t-color: #3d3d3d;
$bg-color: #6d6d6d;

body {
  color: $t-color;
  background-color: $bg-color;
}

p {
  color: $t-color;
}

h2 {
  background-color: $bg-color;
}
